@font-face
{
    font-family: Cinnamon Cake;
    src: url(../customfont/CinnamonCake.eot);
    src: url(../customfont/CinnamonCake.ttf);
}

@font-face
{
    font-family: Baby Doll;
    src: url(../customfont/BabyDoll.eot);
    src: url(../customfont/BabyDoll.ttf);
}

/*
Colors:
light black - #333333
neon blue (variant) - #4D4DFF
dodger blue (variant) - #1873CC
*/

/*
Contents:

Everything
For login and register
LOGIN
REGISTER
FOOTER
HEADER
CREATE
VIEW
RECIPE VIEW
PROFILE
*/


/*Everything*/

html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    height: 100%;
}

body
{
    background: white url(../images/wood.jpg) repeat fixed;
}

img
{
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section 
{
    display: block;
}

.anchor
{
    color: #4D4DFF;
    text-decoration: none;
}

.anchor:hover
{
    color: blue;
    text-decoration: underline;
}

.outer
{
    position: relative;
    min-height: 100%;
}

.mainContent
{
    margin: 0 auto;
    width: 1000px;
    background: white;
    padding-bottom: 100px; /*To give space from the footer's filling the gap*/
    font-size: 14px;
    font-family: cursive;
}

.pclear 
{
    clear: both;
}

.button
{
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
    color: #333333;
}

h1
{
    margin-left: 30px;
    font-size: 37px;
    font-family: Cinnamon Cake, arial;
}

.spanTab /* Acts as tab space. */
{
    position: relative;
    right: 11px;
    margin-right: 10px;
    padding: 5px 15px;
}

.draggablePlaceholder
{
    border: 1px solid gold;
    background-color: LightGoldenRodYellow;
}

.errorMessage
{
    color: red;
    font-size: 15px;
    list-style-type: none;
}

/*For login and register*/
.logo
{
    margin: 25px auto 10px auto;
    width: auto;
    display: block;
}

legend 
{
    font-size: 22px;
    color: navy;
}

fieldset
{
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
    font-family: cursive;
    background: ivory;
    box-shadow: 10px 10px 15px lightyellow;
}

fieldset p
{
    font-size: 15px;
}
 
fieldset div
{
    text-align: center;
    font-size: 14px;
}

/* LOGIN */

#loginArea
{
    width: 290px;
}

#loginArea img
{
    position: relative;
    margin: 0 0 -5px 15px;
}

.loginField
{
    width: 170px;
}

#loginButton
{
    width: 90px;
    height: 30px;
}

#registerParagraph
{
    font-size: 13px;
    margin-bottom: 0;
}

/* REGISTER */

#registerArea
{
    top:10px;
    width: 350px;
}

#registerButton
{  
    width: 90px;
    height: 35px;
    margin-left: 45px;
}

#registerArea img
{
    position: relative;
    margin: 0 0 -3px 15px;
}

#registerForm p 
{
    text-align: left;
}

#registerForm p input
{
    float: right;
    width: 180px;
}

/* FOOTER */

footer
{
    position: relative;
    margin-top: -100px; /*To fill the gap at the bottom is browser vertically overflows*/
    height: 100px;
    width: auto;
    background-color: black; 
    text-align: center;
}

footer p
{
    color: LightGray;
    font-family: monospace;
    font-size: 12px;
    padding-top: 65px;
}

/* HEADER */

.headerImage
{
    display: block;
}

#divider
{   
    height: auto;
    width: auto;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 2px solid black;
}

nav
{   
    font-family: Cinnamon Cake, arial;
    font-size: 37px;
    font-weight: bold;
    background: white;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    float: left;
    margin: 0;
    background-color: #333333;
}
nav li a:link, nav li a:visited
{   
    color: white;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    border-left: 2px solid black;   
}

nav li a:hover, nav li a:active
{
    color: Yellow;
}

nav  li:last-child
{
    border-right: 2px solid black;
}

nav li a img
{
    margin: 0 0 -4px -5px;
}

.navList
{
    position: absolute;
    font-family: Cinnamon Cake, arial;
    width: 210px;
    font-size: 20px;
    font-weight: bold;
    background-color: #333333;
    border: 2px solid black;
    z-index: 1;
    display: none;
}

#recipeNavList
{
    margin-left: 131px;
}

#ingredientNavList
{
    margin-left: 276px;
}
#nameNavList
{
    margin-left: 481px;
}

.navList a:nth-child(n+2) /* white lines dividing the nav list*/
{
    border-top: 2px solid white;
}

.navList a:link, .navList a:visited
{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 5px 15px 5px 10px;
}

.navList a:hover, .navList a:active
{
    color: yellow;
}

/* CREATE */

#firstRow
{
    text-align: center;
    margin: 50px 100px 40px 0;
}
#titleField
{
    margin-right: 200px;
    width: 170px;
}
#timeField
{
    width: 70px;
}

#secondRow
{
    text-align: center;
    margin: 0 170px 40px 0; 
}
#categoryBox
{
    font-family: cursive;
    margin-right: 258px;
}
#servingField
{
    margin-right: 33px;
    width: 80px;
}

#thirdRow
{
    text-align: center;
    margin-bottom: 40px;    
    margin-right: 420px;
}
#thirdRow *
{
    vertical-align: top; /*Makes the label go to top*/
}

#ingredientLabel
{
    margin: 0 0 10px 117px;
}

.ingredientsDiv input[type="text"]
{
    width: 150px;
}

.ingredientsDiv input,.instructionsDiv textarea
{
    margin-right: 25px;
}

.ingredientsDiv, .instructionsDiv
{
    font-size: 12px;
    margin: 25px 0 25px 117px;
    cursor: default;
}

#instructionLabel
{
    margin: 35px 0 5px 117px;      
}

.instructionsDiv *
{
    vertical-align: middle; /*Makes the remove button go to middle*/
}

#addIngredient, #addInstruction
{
    margin-left: 20px;
}

.addremoveButton
{
    background-color: YellowGreen;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: arial;
    font-size: 16px;
    border-radius: 20px;
    margin-left: -10px;
    width: 27px;
    height: 25px;
}
.addremoveButton:hover
{   
    color: Black;
}

#continueButtonDiv
{
    margin: 25px 0 25px 0;
    text-align: center;
}
#continueButton
{   
    width: 100px;
    height: 35px;
}

#createValidateDiv
{
    text-align: center;
    font-size: 17px;
    font-family: Cinnamon Cake;
    color: #1873CC; 
    margin: 35px 0 0 0;
}

/* VIEW */
#viewTable
{
    margin: 25px auto 5px;
    width: 980px;
}

#viewTable, #viewTable td
{
    border-collapse:collapse;
    border: 2px solid gray;
}

#viewTable thead th
{
    font-size: 24px;
    font-family: Cinnamon Cake;
    background-color: green;
    color: white;
    border-right: 2px solid white;
    padding: 0 20px 0 20px;
}
#viewTable thead th:last-child 
{
    border-right: 2px solid gray;
}
#viewTable thead th:nth-child(1)
{
    width: 200px;
}
#viewTable thead th:nth-child(2)
{
    width: 160px;
}

#viewTable thead th:nth-child(4)
{
    width: 180px;
}
#viewTable thead th:nth-child(6)
{
    width: 55px;
}

#orderTitleHeader, #orderCategoryHeader, #orderCategoryDiv
{
    cursor: pointer;
}

#viewTable tbody tr td
{
    font-size: 15px;
    font-family: cursive;
    text-align: center;
    padding: 8px 5px 5px 5px;   
}

#orderCategoryHeader span
{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#orderCategoryDiv
{
    position: absolute;
    top: 273px;
    margin-left: 445px;
    width: 135px;
    color: white;
    font-family: Cinnamon Cake;
    font-weight: bold;
    background-color: green;
    font-size: 17px;
    text-align: center;
    display: none;
}

#orderCategoryDiv p
{
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid white;
}
#orderCategoryDiv p:hover
{
    color: Yellow;
}

#viewTable a
{
    display: block;
}

#viewPaginationDiv
{
    margin: 30px 0 15px 0;
    text-align: center;
    font-size: 16px;
    font-family: Cursive;
}

#viewPaginationDiv a
{
    color: #333333;
}
#viewPaginationDiv a:hover
{
    color: black;
}

/* RECIPE VIEW */

#infoDiv
{
    position: relative;
    margin: 0 0 0 350px;
}

#imageForm 
{
    font-size: 10px;
    margin: 0 0 10px 190px;
}

#imageForm  input[type="submit"]
{
    height: 20px;
    width: 20px;
}

#imageForm  input[type="file"]
{
    display: none;
}

.recipeContent
{
    float: left;
    padding: 10px 0 0 40px; 
}

.recipeContent p  
{   
    width: 90%;
    margin-left: 20px;
}

#recipeIngredientsDiv, #recipeInstructionsDiv
{
    width: 100%;
}

#createPdfValidateDiv
{
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-family: Cinnamon Cake;
    color: #1873CC; 
    margin: 25px 0 0 0;
}

#submitForm /*Create pdf button*/
{
    text-align: center;
    margin: 30px auto 15px;
}

/* PROFILE */

#profileDiv
{
    margin-left: 50px;
}

#profileDiv p
{
    font-family: cursive;
    font-size: 16px;
}

#profileDiv a
{
    vertical-align: super;
}

.profileLinks
{
    color: #4D4DFF;
    text-decoration: none;
    font-family: Baby Doll;
    font-size: 15px;
    margin-left: 15px;
}

.profileLinks:hover
{
    color: blue;
}

.profileLists
{
    margin: -5px 0;
    padding: 0 0 0 20px;
    list-style: none;
}

.profileLists li
{
    margin: 0;
    padding: 5px 0;
}

#profileRecipeList
{
    display: none;
}

#backupButton
{
    font-size: 14px;
    margin: 5px 850px 0 0;
}

#editProfileShadow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    z-index: 1000;
    display: none;
}
 
#editProfileDiv
{
    position: absolute;
    font-size: 16px;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 185px;
    margin: -140px 0 0 -160px; /*Half of width and  3/4 of height*/
    background-color: white;
    padding: 10px 25px 15px 25px;
    border: 3px solid black;
    z-index: 1001;
    display: none;
}

#editProfileDiv p input
{
    float: right;
}

#editProfileDiv p:nth-child(4)
{
    font-size: 10px;
}

#editProfileDiv span
{
    display: block;
    text-align: center;
}

#editProfileValidateSpan
{
    font-size: 12px;
    margin-bottom: 10px;
    color: #1873CC; 
}

#editProfileExitButton
{
    position: absolute;
    left: 100%;
    bottom: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
}

#editProfileExitButton:hover
{
    cursor: pointer;
}